    .container {
        display:flex
    }
    .pink-section {
        background-color: lightpink;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
    }
    .blue-section {
        background-color: lightblue;
        width: 200px;
        height: 50px;
    }