 .font-tahoma{
        font-family: Tahoma;
        font-size: 20px;
        font-weight: bold;
    }
    .font-arial {
        font-family: Arial;
        font-size: 20px;
        font-weight: bold; 
        margin-bottom: 0px;
        width: 280px;
    }
    .span-sales{
        font-family: Arial;
        font-size: 15px;
        font-style: italic;
        margin-top: 2px;
        color: red;
        font-weight: lighter;
    }
    .font-verdana{
        font-family: Verdana;
        font-size: 20px;
        font-weight: bold; 
        margin-bottom: 0px;
        width: 280px;
    }
    .span-beginner {
        font-size: 18px;
        color: rgb(96, 96, 96); 
        margin-top: 2px;
        font-weight: lighter;
    }
    .text-description {
        font-family: Verdana;
        font-size: 15px;
        width: 280px;
    }
    .button-get{
        background-color: green;
        color: white;
        border: none;
        height: 32px;
        width: 110px;
        border-radius: 5px;
        cursor: pointer;
    }
    .desc-title {
        font-family: Arial;
        font-size: 20px;
        font-weight: bold;
        text-align: center;


    }
    .desc-subtit {
        font-family: Arial;
        font-size: 15px;
        text-align: center;
        word-spacing: 5px;
    }
    .desc-learnmore {
        color:black;
        text-align: center;


    }
    .desc-learnmore:hover {
        color:rgb(75, 112, 223);
    }

    .text-new {
        font-family: Arial;
        color:orange;
        text-align: center;
        font-size: 13px;
        margin-bottom: 0;
        margin-top: 30px;

    }
    .text-macbook {
        font-family: Arial;
        color:black;
        font-weight: bold;
        text-align: center;
        font-size: 20px;  
        margin-top: 0;
        margin-bottom: 0;
    }
    .text-subtitle {
       font-family: Arial;
        color:black;
        font-weight: bold;
        text-align: center;
        font-size: 25px;  
        margin-top: 0 ; 
        margin-bottom: 0;
    }
    .text-number {
        font-family: Arial;
        color:black;
        text-align: center;
        font-size: 15px;  
        margin-top: 0;
        margin-bottom: 0;
    }
    .text-buy {
        font-family: Arial;
        color: white;
        background-color: rgb(71, 71, 228);
        text-align: center;
        font-size: 13px;  
        margin-left: 600px;
        margin-right: 600px;
        padding-top: 5px;
        padding-bottom: 5px; 
        border-radius:7px ;       
    }